---
title: Sponsors
layout: default
bodyClass: page-sponsors-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Sponsors of the OYMC</h1>
        <p>
          The OYMC is so thankful for each and everyone of our sponsors.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for sponsors in site.sponsors %}
    <div class="col-12 col-md-6 mb-1">
      <div class="sponsors sponsors-summary">
        {% if sponsors.image %}
        <div class="sponsors-image">
          <img
            alt="{{ sponsors.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ sponsors.image }}"
          />
        </div>
        {% endif %}
        <div class="sponsors-meta">
          <h2 class="sponsors-name">{{ sponsors.title }}</h2>
          <p class="sponsors-description">{{ sponsors.jobtitle }}</p>
          {% if sponsors.linkedinurl %}
          <a target="_blank" href="{{ sponsors.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="sponsors-content">{{ sponsors.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2> Other contributors </h2>
  <ul>
      {% for person in site.data.other_sponsors %}
      <li> {{ person.name }} - {{ person.role}} </li>
      {% endfor %}
  </ul>
</div>
