---
title: Sponsors
layout: default
bodyClass: page-sponsors-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Sponsors of the OYMC</h1>
        <p>
          The OYMC is so thankful for each and everyone of our sponsors.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for sponsors in site.data.sponsors %}
    <div class="col-12 col-md-6 mb-1">
      <div class="sponsors sponsors-summary">
        {% if sponsors.image %}
        <h2>{{ sponsors.name }} </h2>
        <div class="sponsors-image">
          <a href="{{ sponsors.link }}">
            <img
              alt="{{ sponsors.title }} logo"
              class="img-fluid mb-2"
              src="{{site.baseurl}}{{ sponsors.image }}"
              style="max-height:200px;max-width:400px;"
            />
          <a/>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
