---
title: Team
layout: default
bodyClass: page-team-list
---

<div class="intro mb-0">
  <div class="container mb-0">
    <div class="row mb-0">
      <div class="col-12">
        <h1>Permanent and Head Staff</h1>
        <p>
          Our head staff help write the problems, review them, and work on various contest logistics.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6 mt-0">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}">LinkedIn</a> 
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h1> Other contributors </h1>
  <div class="row">
      {% for person in site.data.other_team %}
      <div class="col-3 mb-4 boarder boarder-primary"> <strong>{{ person.name }}</strong>&#58; {{ person.role}} </div>
      {% endfor %}
  </div>
</div>
